/* @theme mytheme */

@import 'default';

/* スライド共通の設定 */
:root {
  width: 1280px;
  height: 720px;
  color: #4d4053;
}

/* ページ番号のデザイン */
section::after {
  position: absolute;
  bottom: 8px;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
}

/* ヘッダーとフッターの設定 */
header,
footer {
  position: absolute;
  width: 100%;
  height: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

header {
  top: 6px;
}

footer {
  bottom: 16px;
}

/* 共通デザイン */
section {
  background-image: url("./.image/background.png");
  background-size: cover;
  background-position: center;
}

/* タイトルスライド */
section.title{
  position: relative;
  text-align: center;
  width: 100%;
}
section.title h1 {
  font-size: 70px;
  color: #4d4053;
  margin: 0;
}

section.title h2 {
  font-size: 40px;
  color: #4d4053;
  margin: 0;
}

section.title p div {
  font-size: 40px;
  margin: 60px 0 0 0;
}

/* コンテンツスライド1 */
section.content1 {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  justify-content: flex-start; 
  text-align: left;
}

section.content1 h1 {
  display: inline-block;
  border-left: 15px solid #4d4053;
  padding-left: 0.5rem;
  line-height: 1;
  font-size: 50px;
  color: #4d4053;
  margin-bottom: 30px;
  word-break: break-word;
}

section.content1 p {
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: pre-wrap; 
  word-break: break-word;
  margin: 0;
}

/* 表のデザイン */
table {
  margin-left: auto;
  margin-right: auto;
  display: inline-table;
  border-collapse: separate;  /* セル間にスペースを作る */
  border-spacing: 10px 10px;     /* 行間を広げる */
  font-family: "Arial", sans-serif;
  width: 100%;
}

th {
  padding: 16px 24px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  background-color: #77acc0;  /* アプリ風のヘッダー色 */
  color: white;
  border-radius: 8px 8px 0 0; /* 上角だけ丸める */
}

tr:nth-child(n) td {
  padding: 16px 24px;
  text-align: center;
  border-radius: 0 0 8px 8px; /* 下角だけ丸める */
}

td, th {
  border: none;
}

td:nth-child(1) {
  font-weight: bold;
}

/* デザインパーツ：列数n */
.container {
  display: flex;
  width: 100%;
  gap: 10px;
}
.column {
  flex: 1;
  padding: 20px;
  /* background-color: lightgray; */
  text-align: center;
}

/* デザインパーツ：色付き下線（ピンク） */
.text-underline {
  text-decoration: underline;              /* 下線 */
  text-decoration-color: #77acc0;          /* 線の色 */
  text-decoration-thickness: 0.5rem;         /* 線の太さ */
  text-underline-offset: -20%;          /* 線の位置（上げ下げ調整） */
}

/* デザインパーツ：枠線付きテキスト */
.framed {
  display: inline-block;         /* テキスト幅に合わせる */
  margin: 0 auto;                /* 左右中央寄せ */
  padding: 30px 30px;             /* 内側余白 */
  color: #4d4053;                /* 文字色 */
  background-color: #97daf2;     /* 淡色の塗りつぶし背景 */
  border: 2px solid #97daf2;     /* 枠線 */
  border-radius: 12px;           /* 角丸 */
  text-align: center;
}

/* デザインパーツ：背景画像 */
.background-image {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;  
    width: 1200px;    
    height: 641px;
    z-index: 1;
    opacity: 0.6;
}